{% extends 'index.html' %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <td>Email</td>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Role</td>
    </tr>
  </thead>
  <tbody>
    <form action="" method="post">
      <tr>
        <td><input type="email" value="@escalader.org.uk" class="form-control" name="email" required></td>
        <td><input type="text" class="form-control" name="firstName" required></td>
        <td><input type="text" class="form-control" name="lastName" required></td>
        <td>
          <select class="form-control" name="role" required>
            <option>staff</option>
            <option>admin</option>
          </select>
        </td>
        <td><button type="submit" class="btn btn-primary">Save</button><button type="reset" class="btn btn-link">Cancel</button></td>
      </tr>
    </form>
  {% for user in users %}
    <tr>
      <td>{{ user.value.email }}</td>
      <td>{{ user.value.firstName }}</td>
      <td>{{ user.value.lastName }}</td>
      <td>{{ user.value.role }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
